<?xml version="1.0"?>
<root>
  <db>
    <check>Translate</check>
    <check>CIU</check>
  </db>
  <browser>
    <name>
      <Translate>Microsoft Internet Explorer</Translate>
      <CIU>ie</CIU>
    </name>
    <name>
      <Translate>Microsoft Edge</Translate>
      <CIU>edge</CIU>
    </name>
    <name>
      <Translate>Mozilla Firefox</Translate>
      <CIU>firefox</CIU>
    </name>
    <name>
      <Translate>Google Chrome</Translate>
      <CIU>chrome</CIU>
    </name>
    <name>
      <Translate>Apple Safari</Translate>
      <CIU>safari</CIU>
    </name>
    <name>
      <Translate>Opera</Translate>
      <CIU>opera</CIU>
    </name>
    <name>
      <Translate>Apple Mobile Safari</Translate>
      <CIU>ios_saf</CIU>
    </name>
    <name>
      <Translate>Opera Mini</Translate>
      <CIU>op_mini</CIU>
    </name>
    <name>
      <Translate>Open Handset Alliance Android Build-In</Translate>
      <CIU>android</CIU>
    </name>
    <name>
      <Translate>Research In Motion Browser</Translate>
      <CIU>bb</CIU>
    </name>
    <name>
      <Translate>Opera Mobile</Translate>
      <CIU>op_mob</CIU>
    </name>
    <name>
      <Translate>Google Chrome for Android</Translate>
      <CIU>and_chr</CIU>
    </name>
    <name>
      <Translate>Mozilla Firefox Mobile</Translate>
      <CIU>and_ff</CIU>
    </name>
    <name>
      <Translate>Microsoft Mobile Internet Explorer</Translate>
      <CIU>ie_mob</CIU>
    </name>
    <name>
      <Translate>UC Mobile</Translate>
      <CIU>and_uc</CIU>
    </name>
    <name>
      <Translate>Samsung</Translate>
      <CIU>samsung</CIU>
    </name>
    <name>
      <Translate>QQ Browser</Translate>
      <CIU>and_qq</CIU>
    </name>
    <name>
      <Translate>Baidu Browser</Translate>
      <CIU>baidu</CIU>
    </name>
  </browser>
  <version>
    <number>
      <Translate>Insider Preview</Translate>
      <CIU>IP</CIU>
    </number>
    <number>
      <Translate>Technical Preview</Translate>
      <CIU>TP</CIU>
    </number>
    <number>
      <Translate>Project Edge</Translate>
      <CIU>Edge</CIU>
    </number>
    <number>
      <Translate>0.0</Translate>
      <CIU>0</CIU>
    </number>
    <number>
      <Translate>1.0</Translate>
      <CIU>1</CIU>
    </number>
    <number>
      <Translate>1.1</Translate>
      <CIU>1.1</CIU>
    </number>
    <number>
      <Translate>1.2</Translate>
      <CIU>1.2</CIU>
    </number>
    <number>
      <Translate>1.3</Translate>
      <CIU>1.3</CIU>
    </number>
    <number>
      <Translate>1.4</Translate>
      <CIU>1.4</CIU>
    </number>
    <number>
      <Translate>1.5</Translate>
      <CIU>1.5</CIU>
    </number>
    <number>
      <Translate>1.6</Translate>
      <CIU>1.6</CIU>
    </number>
    <number>
      <Translate>1.7</Translate>
      <CIU>1.7</CIU>
    </number>
    <number>
      <Translate>1.8</Translate>
      <CIU>1.8</CIU>
    </number>
    <number>
      <Translate>1.9</Translate>
      <CIU>1.9</CIU>
    </number>
    <number>
      <Translate>2.0</Translate>
      <CIU>2</CIU>
    </number>
    <number>
      <Translate>2.0.1</Translate>
      <CIU>2.0.1</CIU>
    </number>
    <number>
      <Translate>2.1</Translate>
      <CIU>2.1</CIU>
    </number>
    <number>
      <Translate>2.2</Translate>
      <CIU>2.2</CIU>
    </number>
    <number>
      <Translate>2.2.1</Translate>
      <CIU>2.2.1</CIU>
    </number>
    <number>
      <Translate>2.2.2</Translate>
      <CIU>2.2.2</CIU>
    </number>
    <number>
      <Translate>2.3</Translate>
      <CIU>2.3</CIU>
    </number>
    <number>
      <Translate>2.3.1</Translate>
      <CIU>2.3.1</CIU>
    </number>
    <number>
      <Translate>2.3.2</Translate>
      <CIU>2.3.2</CIU>
    </number>
    <number>
      <Translate>2.3.3</Translate>
      <CIU>2.3.3</CIU>
    </number>
    <number>
      <Translate>2.3.4</Translate>
      <CIU>2.3.4</CIU>
    </number>
    <number>
      <Translate>2.3.5</Translate>
      <CIU>2.3.5</CIU>
    </number>
    <number>
      <Translate>2.3.6</Translate>
      <CIU>2.3.6</CIU>
    </number>
    <number>
      <Translate>2.3.7</Translate>
      <CIU>2.3.7</CIU>
    </number>
    <number>
      <Translate>2.4</Translate>
      <CIU>2.4</CIU>
    </number>
    <number>
      <Translate>2.5</Translate>
      <CIU>2.5</CIU>
    </number>
    <number>
      <Translate>2.6</Translate>
      <CIU>2.6</CIU>
    </number>
    <number>
      <Translate>2.7</Translate>
      <CIU>2.7</CIU>
    </number>
    <number>
      <Translate>2.8</Translate>
      <CIU>2.8</CIU>
    </number>
    <number>
      <Translate>2.9</Translate>
      <CIU>2.9</CIU>
    </number>
    <number>
      <Translate>3.0</Translate>
      <CIU>3</CIU>
    </number>
    <number>
      <Translate>3.1</Translate>
      <CIU>3.1</CIU>
    </number>
    <number>
      <Translate>3.2</Translate>
      <CIU>3.2</CIU>
    </number>
    <number>
      <Translate>3.2.1</Translate>
      <CIU>3.2.1</CIU>
    </number>
    <number>
      <Translate>3.5</Translate>
      <CIU>3.5</CIU>
    </number>
    <number>
      <Translate>3.6</Translate>
      <CIU>3.6</CIU>
    </number>
    <number>
      <Translate>4.0</Translate>
      <CIU>4</CIU>
    </number>
    <number>
      <Translate>4.0</Translate>
      <CIU>4.0-4.1</CIU>
    </number>
    <number>
      <Translate>4.0.1</Translate>
      <CIU>4.0.1</CIU>
    </number>
    <number>
      <Translate>4.0.2</Translate>
      <CIU>4.0.2</CIU>
    </number>
    <number>
      <Translate>4.0.3</Translate>
      <CIU>4.0.3</CIU>
    </number>
    <number>
      <Translate>4.0.4</Translate>
      <CIU>4.0.4</CIU>
    </number>
    <number>
      <Translate>4.1</Translate>
      <CIU>4.1</CIU>
    </number>
    <number>
      <Translate>4.1.1</Translate>
      <CIU>4.1.1</CIU>
    </number>
    <number>
      <Translate>4.1.2</Translate>
      <CIU>4.1.2</CIU>
    </number>
    <number>
      <Translate>4.2</Translate>
      <CIU>4.2-4.3</CIU>
    </number>
    <number>
      <Translate>4.2</Translate>
      <CIU>4.2</CIU>
    </number>
    <number>
      <Translate>4.2.1</Translate>
      <CIU>4.2.1</CIU>
    </number>
    <number>
      <Translate>4.2.2</Translate>
      <CIU>4.2.2</CIU>
    </number>
    <number>
      <Translate>4.3</Translate>
      <CIU>4.3</CIU>
    </number>
    <number>
      <Translate>4.3.1</Translate>
      <CIU>4.3.1</CIU>
    </number>
    <number>
      <Translate>4.4</Translate>
      <CIU>4.4</CIU>
    </number>
    <number>
      <Translate>4.4.1</Translate>
      <CIU>4.4.1</CIU>
    </number>
    <number>
      <Translate>4.4.2</Translate>
      <CIU>4.4.2</CIU>
    </number>
    <number>
      <Translate>4.4.3</Translate>
      <CIU>4.4.3</CIU>
    </number>
    <number>
      <Translate>4.4.3</Translate>
      <CIU>4.4.3-4.4.4</CIU>
    </number>
    <number>
      <Translate>4.4.4</Translate>
      <CIU>4.4.4</CIU>
    </number>
    <number>
      <Translate>5.0</Translate>
      <CIU>5</CIU>
    </number>
    <number>
      <Translate>5.0.1</Translate>
      <CIU>5.0.1</CIU>
    </number>
    <number>
      <Translate>5.0.2</Translate>
      <CIU>5.0.2</CIU>
    </number>
    <number>
      <Translate>5.0</Translate>
      <CIU>5.0-7.0</CIU>
    </number>
    <number>
      <Translate>5.0</Translate>
      <CIU>5.0-8.0</CIU>
    </number>
    <number>
      <Translate>5.0</Translate>
      <CIU>5.0-5.1</CIU>
    </number>
    <number>
      <Translate>5.1</Translate>
      <CIU>5.1</CIU>
    </number>
    <number>
      <Translate>5.1.1</Translate>
      <CIU>5.1.1</CIU>
    </number>
    <number>
      <Translate>5.1.2</Translate>
      <CIU>5.1.2</CIU>
    </number>
    <number>
      <Translate>5.2</Translate>
      <CIU>5.2</CIU>
    </number>
    <number>
      <Translate>5.5</Translate>
      <CIU>5.5</CIU>
    </number>
    <number>
      <Translate>6.0</Translate>
      <CIU>6</CIU>
    </number>
    <number>
      <Translate>6.0</Translate>
      <CIU>6.0-6.1</CIU>
    </number>
    <number>
      <Translate>6.1</Translate>
      <CIU>6.1</CIU>
    </number>
    <number>
      <Translate>6.2</Translate>
      <CIU>6.2</CIU>
    </number>
    <number>
      <Translate>6.3</Translate>
      <CIU>6.3</CIU>
    </number>
    <number>
      <Translate>6.4</Translate>
      <CIU>6.4</CIU>
    </number>
    <number>
      <Translate>6.5</Translate>
      <CIU>6.5</CIU>
    </number>
    <number>
      <Translate>7.0</Translate>
      <CIU>7</CIU>
    </number>
    <number>
      <Translate>7.1</Translate>
      <CIU>7.1</CIU>
    </number>
    <number>
      <Translate>7.2</Translate>
      <CIU>7.2</CIU>
    </number>
    <number>
      <Translate>7.3</Translate>
      <CIU>7.3</CIU>
    </number>
    <number>
      <Translate>7.4</Translate>
      <CIU>7.4</CIU>
    </number>
    <number>
      <Translate>7.5</Translate>
      <CIU>7.5</CIU>
    </number>
    <number>
      <Translate>7.0</Translate>
      <CIU>7.0-7.1</CIU>
    </number>
    <number>
      <Translate>7.1</Translate>
      <CIU>7.1</CIU>
    </number>
    <number>
      <Translate>7.10</Translate>
      <CIU>7.10</CIU>
    </number>
    <number>
      <Translate>7.11</Translate>
      <CIU>7.11</CIU>
    </number>
    <number>
      <Translate>7.12</Translate>
      <CIU>7.12</CIU>
    </number>
    <number>
      <Translate>8.0</Translate>
      <CIU>8</CIU>
    </number>
    <number>
      <Translate>8.1</Translate>
      <CIU>8.1</CIU>
    </number>
    <number>
      <Translate>8.1</Translate>
      <CIU>8.1-8.2</CIU>
    </number>
    <number>
      <Translate>8.1</Translate>
      <CIU>8.1-8.3</CIU>
    </number>
    <number>
      <Translate>8.1</Translate>
      <CIU>8.1-8.4</CIU>
    </number>
    <number>
      <Translate>9.0</Translate>
      <CIU>9</CIU>
    </number>
    <number>
      <Translate>9.0</Translate>
      <CIU>9.0-9.1</CIU>
    </number>
    <number>
      <Translate>9.0</Translate>
      <CIU>9.0-9.2</CIU>
    </number>
    <number>
      <Translate>9.0</Translate>
      <CIU>9.0-9.3</CIU>
    </number>
    <number>
      <Translate>9.0</Translate>
      <CIU>9.0-9.4</CIU>
    </number>
    <number>
      <Translate>9.1</Translate>
      <CIU>9.1</CIU>
    </number>
    <number>
      <Translate>9.2</Translate>
      <CIU>9.2</CIU>
    </number>
    <number>
      <Translate>9.3</Translate>
      <CIU>9.3</CIU>
    </number>
    <number>
      <Translate>9.4</Translate>
      <CIU>9.4</CIU>
    </number>
    <number>
      <Translate>9.5</Translate>
      <CIU>9.5-9.6</CIU>
    </number>
    <number>
      <Translate>9.9</Translate>
      <CIU>9.9</CIU>
    </number>
    <number>
      <Translate>10.0</Translate>
      <CIU>10</CIU>
    </number>
    <number>
      <Translate>10.0</Translate>
      <CIU>10.0-10.1</CIU>
    </number>
    <number>
      <Translate>10.0</Translate>
      <CIU>10.0-10.2</CIU>
    </number>
    <number>
      <Translate>10.0</Translate>
      <CIU>10.0-10.3</CIU>
    </number>
    <number>
      <Translate>10.0</Translate>
      <CIU>10.0-10.4</CIU>
    </number>
    <number>
      <Translate>10.1</Translate>
      <CIU>10.1</CIU>
    </number>
    <number>
      <Translate>10.2</Translate>
      <CIU>10.2</CIU>
    </number>
    <number>
      <Translate>10.3</Translate>
      <CIU>10.3</CIU>
    </number>
    <number>
      <Translate>10.4</Translate>
      <CIU>10.4</CIU>
    </number>
    <number>
      <Translate>10.5</Translate>
      <CIU>10.5</CIU>
    </number>
    <number>
      <Translate>10.6</Translate>
      <CIU>10.6</CIU>
    </number>
    <number>
      <Translate>11.0</Translate>
      <CIU>11</CIU>
    </number>
    <number>
      <Translate>11.1</Translate>
      <CIU>11.0-11.2</CIU>
    </number>
    <number>
      <Translate>11.3</Translate>
      <CIU>11.3-11.4</CIU>
    </number>
    <number>
      <Translate>11.1</Translate>
      <CIU>11.1</CIU>
    </number>
    <number>
      <Translate>11.2</Translate>
      <CIU>11.2</CIU>
    </number>
    <number>
      <Translate>11.3</Translate>
      <CIU>11.3</CIU>
    </number>
    <number>
      <Translate>11.4</Translate>
      <CIU>11.4</CIU>
    </number>
    <number>
      <Translate>11.5</Translate>
      <CIU>11.5</CIU>
    </number>
    <number>
      <Translate>11.6</Translate>
      <CIU>11.6</CIU>
    </number>
    <number>
      <Translate>11.7</Translate>
      <CIU>11.7</CIU>
    </number>
    <number>
      <Translate>11.8</Translate>
      <CIU>11.8</CIU>
    </number>
    <number>
      <Translate>11.9</Translate>
      <CIU>11.9</CIU>
    </number>
    <number>
      <Translate>12.0</Translate>
      <CIU>12</CIU>
    </number>
    <number>
      <Translate>12.1</Translate>
      <CIU>12.1</CIU>
    </number>
    <number>
      <Translate>12.2</Translate>
      <CIU>12.2</CIU>
    </number>
    <number>
      <Translate>12.3</Translate>
      <CIU>12.3</CIU>
    </number>
    <number>
      <Translate>12.4</Translate>
      <CIU>12.4</CIU>
    </number>
    <number>
      <Translate>12.5</Translate>
      <CIU>12.5</CIU>
    </number>
    <number>
      <Translate>12.6</Translate>
      <CIU>12.6</CIU>
    </number>
    <number>
      <Translate>12.7</Translate>
      <CIU>12.7</CIU>
    </number>
    <number>
      <Translate>12.8</Translate>
      <CIU>12.8</CIU>
    </number>
    <number>
      <Translate>12.9</Translate>
      <CIU>12.9</CIU>
    </number>
    <number>
      <Translate>13.0</Translate>
      <CIU>13</CIU>
    </number>
    <number>
      <Translate>14.0</Translate>
      <CIU>14</CIU>
    </number>
    <number>
      <Translate>15.0</Translate>
      <CIU>15</CIU>
    </number>
    <number>
      <Translate>16.0</Translate>
      <CIU>16</CIU>
    </number>
    <number>
      <Translate>17.0</Translate>
      <CIU>17</CIU>
    </number>
    <number>
      <Translate>18.0</Translate>
      <CIU>18</CIU>
    </number>
    <number>
      <Translate>19.0</Translate>
      <CIU>19</CIU>
    </number>
    <number>
      <Translate>20.0</Translate>
      <CIU>20</CIU>
    </number>
    <number>
      <Translate>21.0</Translate>
      <CIU>21</CIU>
    </number>
    <number>
      <Translate>22.0</Translate>
      <CIU>22</CIU>
    </number>
    <number>
      <Translate>23.0</Translate>
      <CIU>23</CIU>
    </number>
    <number>
      <Translate>24.0</Translate>
      <CIU>24</CIU>
    </number>
    <number>
      <Translate>25.0</Translate>
      <CIU>25</CIU>
    </number>
    <number>
      <Translate>26.0</Translate>
      <CIU>26</CIU>
    </number>
    <number>
      <Translate>27.0</Translate>
      <CIU>27</CIU>
    </number>
    <number>
      <Translate>28.0</Translate>
      <CIU>28</CIU>
    </number>
    <number>
      <Translate>29.0</Translate>
      <CIU>29</CIU>
    </number>
    <number>
      <Translate>30.0</Translate>
      <CIU>30</CIU>
    </number>
    <number>
      <Translate>31.0</Translate>
      <CIU>31</CIU>
    </number>
    <number>
      <Translate>32.0</Translate>
      <CIU>32</CIU>
    </number>
    <number>
      <Translate>33.0</Translate>
      <CIU>33</CIU>
    </number>
    <number>
      <Translate>34.0</Translate>
      <CIU>34</CIU>
    </number>
    <number>
      <Translate>35.0</Translate>
      <CIU>35</CIU>
    </number>
    <number>
      <Translate>36.0</Translate>
      <CIU>36</CIU>
    </number>
    <number>
      <Translate>37.0</Translate>
      <CIU>37</CIU>
    </number>
    <number>
      <Translate>38.0</Translate>
      <CIU>38</CIU>
    </number>
    <number>
      <Translate>39.0</Translate>
      <CIU>39</CIU>
    </number>
    <number>
      <Translate>40.0</Translate>
      <CIU>40</CIU>
    </number>
    <number>
      <Translate>41.0</Translate>
      <CIU>41</CIU>
    </number>
    <number>
      <Translate>42.0</Translate>
      <CIU>42</CIU>
    </number>
    <number>
      <Translate>43.0</Translate>
      <CIU>43</CIU>
    </number>
    <number>
      <Translate>44.0</Translate>
      <CIU>44</CIU>
    </number>
    <number>
      <Translate>45.0</Translate>
      <CIU>45</CIU>
    </number>
    <number>
      <Translate>46.0</Translate>
      <CIU>46</CIU>
    </number>
    <number>
      <Translate>47.0</Translate>
      <CIU>47</CIU>
    </number>
    <number>
      <Translate>48.0</Translate>
      <CIU>48</CIU>
    </number>
    <number>
      <Translate>49.0</Translate>
      <CIU>49</CIU>
    </number>
    <number>
      <Translate>50.0</Translate>
      <CIU>50</CIU>
    </number>
    <number>
      <Translate>51.0</Translate>
      <CIU>51</CIU>
    </number>
    <number>
      <Translate>52.0</Translate>
      <CIU>52</CIU>
    </number>
    <number>
      <Translate>53.0</Translate>
      <CIU>53</CIU>
    </number>
    <number>
      <Translate>54.0</Translate>
      <CIU>54</CIU>
    </number>
    <number>
      <Translate>55.0</Translate>
      <CIU>55</CIU>
    </number>
    <number>
      <Translate>56.0</Translate>
      <CIU>56</CIU>
    </number>
    <number>
      <Translate>57.0</Translate>
      <CIU>57</CIU>
    </number>
    <number>
      <Translate>58.0</Translate>
      <CIU>58</CIU>
    </number>
    <number>
      <Translate>59.0</Translate>
      <CIU>59</CIU>
    </number>
    <number>
      <Translate>60.0</Translate>
      <CIU>60</CIU>
    </number>
    <number>
      <Translate>61.0</Translate>
      <CIU>61</CIU>
    </number>
    <number>
      <Translate>62.0</Translate>
      <CIU>62</CIU>
    </number>
    <number>
      <Translate>63.0</Translate>
      <CIU>63</CIU>
    </number>
    <number>
      <Translate>64.0</Translate>
      <CIU>64</CIU>
    </number>
    <number>
      <Translate>65.0</Translate>
      <CIU>65</CIU>
    </number>
    <number>
      <Translate>66.0</Translate>
      <CIU>66</CIU>
    </number>
    <number>
      <Translate>67.0</Translate>
      <CIU>67</CIU>
    </number>
    <number>
      <Translate>68.0</Translate>
      <CIU>68</CIU>
    </number>
    <number>
      <Translate>69.0</Translate>
      <CIU>69</CIU>
    </number>
    <number>
      <Translate>70.0</Translate>
      <CIU>70</CIU>
    </number>
    <number>
      <Translate>71.0</Translate>
      <CIU>71</CIU>
    </number>
    <number>
      <Translate>72.0</Translate>
      <CIU>72</CIU>
    </number>
    <number>
      <Translate>73.0</Translate>
      <CIU>73</CIU>
    </number>
    <number>
      <Translate>74.0</Translate>
      <CIU>74</CIU>
    </number>
    <number>
      <Translate>75.0</Translate>
      <CIU>75</CIU>
    </number>
    <number>
      <Translate>77.0</Translate>
      <CIU>77</CIU>
    </number>
    <number>
      <Translate>77.0</Translate>
      <CIU>77</CIU>
    </number>
    <number>
      <Translate>78.0</Translate>
      <CIU>78</CIU>
    </number>
    <number>
      <Translate>79.0</Translate>
      <CIU>79</CIU>
    </number>
    <number>
      <Translate>80.0</Translate>
      <CIU>80</CIU>
    </number>
    <number>
      <Translate>Alle</Translate>
      <CIU>all</CIU>
    </number>
  </version>
</root> 
